<div class="navbar navbar-inverse" role="navigation" ng-controller="NavbarCtrl">
<div class="container-fluid">
  <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-init="navbarCollapsed=true" ng-click="navbarCollapsed = !navbarCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/main">RitmoAllegro</a>
  </div>


  <div class="collapse navbar-collapse" collapse="navbarCollapsed" ng-click="navbarCollapsed = true">

    <!--ul class="nav navbar-nav">
      <li class={{getActive("/main")}} >
        <a href="/main">Main</a>
      </li>
    </ul-->

    <ul class="nav navbar-nav navbar-right">
      <li>
        <a style="padding: 8px 10px 0px 10px" href="https://github.com/klode/ritmo-allegro" title="Source code on github repository">
          <img src="images/GitHub-Mark-Light-32px.png" />
        </a>
      </li>
      <li>
        <input type="image" class="navbar-btn" src="images/sign-in-with-twitter-gray.png" ng-click="loginOauth('twitter')"/>
      </li>
      <li>
        <a href="" ng-click="logout()"> Logout </a>
      </li>
    </ul>

  </div>
</div>
</div>

